<div class="fc justify-between h-full">
	<div class="tabs fc">
		@for (item of menuItems(); track item.label) {
			<a
				[routerLink]="item.route"
				class="tab ds-btn rounded-full fc"
				routerLinkActive="ds-btn-primary"
			>
				<mat-icon>{{ item.icon }}</mat-icon>
				<span *ngIf="!isCollapsed()">{{ item.label }}</span>
			</a>
		}
	</div>
	<button routerLink="user" class="user">
		<div>
			<img src="https://github.com/takahashinguyen.png" />
			<div *ngIf="!isCollapsed()" class="truncate">
				<span>
					{{ user ? user.firstName : 'Login' }}
				</span>
			</div>
		</div>
	</button>
</div>
