<div class="fc h-full justify-between">
	<div class="tabs fc">
		@for (item of menuItems(); track item.label) {
			<button
				class="tab"
				routerLinkActive="tab-active"
				[routerLink]="item.route"
			>
				<mat-icon>{{ item.icon }}</mat-icon>
				<span *ngIf="!isCollapsed()">{{ item.label }}</span>
			</button>
		}
	</div>
	<button routerLink="user" class="user">
		<img src="https://github.com/takahashinguyen.png" />
		<span *ngIf="!isCollapsed()">
			{{ user ? user.firstName : 'Login' }}
		</span>
	</button>
</div>
