<section *ngIf="!isLoaded" class="h-full">
	<cp-loading></cp-loading>
</section>
<div class="h-full fc justify-center">
	<div class="form">
		<h4>Create new place</h4>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="text-input">
				<label> Longitude </label>
				<input
					type="text"
					[readonly]="true"
					class="ds-btn-disabled"
					formControlName="longitude"
					[value]="coordinate ? coordinate[0] : 0"
				/>
			</div>

			<div class="text-input">
				<label> Latitude </label>
				<input
					type="text"
					[readonly]="true"
					class="ds-btn-disabled"
					formControlName="latitude"
					[value]="coordinate ? coordinate[1] : 0"
				/>
			</div>

			<div class="submit-buttons">
				<button [disabled]="loading">
					<span *ngIf="loading"></span>
					Assign
				</button>
			</div>
		</form>
	</div>
</div>
