<section *ngIf="!pageLoaded" class="h-full">
	<cp-loading></cp-loading>
</section>
<div class="fc relative h-full justify-center">
	<div class="form">
		<h4>Create new place</h4>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			@for (i of properties; track i) {
				<div class="text-input">
					<label> {{ i.label }} </label>
					<input
						[type]="i.type"
						[readonly]="i.readonly"
						formControlName="{{ i.label }}"
					/>
					<span *ngIf="controls[i.label].errors && submitted"> Not valid </span>
				</div>
			}

			<div class="submit-buttons">
				<button [disabled]="processing">
					<span *ngIf="processing"></span>
					Assign
				</button>
			</div>
		</form>
	</div>
</div>
