<section *ngIf="!isLoaded" class="h-full">
	<cp-loading></cp-loading>
</section>
<div
	*ngIf="isLoaded"
	class="relative flex flex-col justify-center h-full overflow-hidden"
>
	<div class="form">
		<h4>Register</h4>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="text-input">
				<label>First name</label>
				<input type="text" formControlName="firstName" />
				<div *ngIf="submitted && f['firstName'].errors">
					<div *ngIf="f['firstName'].errors['required']">
						First Name is required
					</div>
				</div>
			</div>

			<div class="text-input">
				<label> Last name </label>
				<input type="text" formControlName="lastName" />
				<div *ngIf="submitted && f['lastName'].errors">
					<div *ngIf="f['lastName'].errors['required']">
						Last Name is required
					</div>
				</div>
			</div>

			<div class="text-input">
				<label> Email </label>
				<input type="text" formControlName="email" />
				<div *ngIf="submitted && f['email'].errors">
					<div *ngIf="f['email'].errors['required']">Username is required</div>
				</div>
			</div>

			<div class="text-input">
				<label>Password </label>
				<input type="password" formControlName="password" />
				<div *ngIf="submitted && f['password'].errors">
					<div *ngIf="f['password'].errors['required']">
						Password is required
					</div>
					<div *ngIf="f['password'].errors['minlength']">
						Password must be at least 6 characters
					</div>
				</div>
			</div>

			<div class="submit-buttons">
				<button [disabled]="loading">
					<span *ngIf="loading"></span>
					Register
				</button>
				<a routerLink="/user/login">Cancel</a>
			</div>
		</form>
	</div>
</div>
