<div class="fr full overflow-hidden">
	<div class="sidebar">
		<div class="tabs">
			<button
				(click)="toggleMenu()"
				[ngClass]="
					isCollapsed()
						? 'ds-btn ds-btn-circle scale-75 h-12'
						: 'ds-btn round w-full static h-9'
				"
			>
				<div class="extendButton" [ngClass]="isCollapsed() ? '' : 'w-full'">
					<mat-icon>{{ menuIcon() }}</mat-icon>
					<p *ngIf="!isCollapsed()">TmplRV</p>
				</div>
			</button>
			<cp-sidenav [isCollapsed]="isCollapsed" class="flex-grow" />
		</div>
		<div class="content">
			<router-outlet />
		</div>
	</div>
	<div class="relative full">
		<cp-map />
	</div>
</div>
