<div class="fr full overflow-hidden">
	<div class="sidebar">
		<div class="tabs">
			<button
				(click)="toggleMenu()"
				[ngClass]="
					isCollapsed()
						? 'ds-btn ds-btn-circle h-12 scale-75'
						: 'round ds-btn static h-9 w-full'
				"
			>
				<div class="extendButton" [ngClass]="isCollapsed() ? '' : 'w-full'">
					<mat-icon>{{ menuIcon() }}</mat-icon>
					<p *ngIf="!isCollapsed()">TmplRV</p>
				</div>
			</button>
			<cp-sidenav [isCollapsed]="isCollapsed" class="flex-grow" />
		</div>
		<div class="content">
			<cp-alert />
			<router-outlet />
		</div>
	</div>
	<div class="full relative">
		<cp-map />
	</div>
</div>
