<section *ngIf="!isLoaded" class="h-full">
	<cp-loading></cp-loading>
</section>
<div
	*ngIf="isLoaded"
	class="relative flex flex-col justify-center h-full overflow-hidden"
>
	<div class="form">
		<h4>Login</h4>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="text-input">
				<label>Email</label>
				<input type="text" formControlName="email" />
				<div *ngIf="submitted && f['email'].errors">
					<div *ngIf="f['email'].errors['required']">Email is required</div>
				</div>
			</div>

			<div class="text-input">
				<label>Password</label>
				<input type="password" formControlName="password" />
				<div *ngIf="submitted && f['password'].errors">
					<div *ngIf="f['password'].errors['required']">
						Password is required
					</div>
				</div>
			</div>

			<div class="submit-buttons">
				<button [disabled]="loading">
					<span *ngIf="loading"></span>
					Login
				</button>
				<a routerLink="/user/signup">Register</a>
			</div>
		</form>
	</div>
</div>
