<div class="form">
	<h4>{{ title }}</h4>
	<form [formGroup]="parent.form" (ngSubmit)="parent.OnSubmit()">
		@for (i of parent.properties; track i) {
			<div [class]="i.type !== 'file' ? 'text-input' : 'file-input'">
				<label> {{ i.label }} </label>
				<input
					[type]="i.type"
					[readonly]="i.readonly"
					formControlName="{{ i.label }}"
					(change)="
						i.type === 'file' ? parent.OnFileChange($event, i.label) : ''
					"
				/>
				<span
					*ngIf="parent.controls[i.label].errors && parent.status.formSummited"
				>
					Not valid
				</span>
			</div>
		}

		<div class="submit-buttons">
			<button [disabled]="parent.status.formProcessing">
				<span *ngIf="parent.status.formProcessing"></span>
				{{ submitButtonLabel }}
			</button>
			<ng-content />
		</div>
	</form>
</div>
